<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Simple Airbnb</a>

      <%# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
      <%= link_to 'Add Flat', new_flat_path, class:'btn btn-outline-primary' %>
    </div>
  </div>
</nav>
